@media(max-width:1024px) {
    .service_box {
        min-height: 380px;
    }
}

@media(max-width:991px) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    .cp60 {
        padding: 50px 15px;
    }

    .nav-item a {
        background-color: var(--cs-btnhover);
        margin-bottom: 10px;
        padding: 2px 0px !important;
        text-align: center;
        border-radius: 5px;
        font-size: 14px;
    }

    .service_box {
        height: auto;
    }

    .ftbox {
        margin-bottom: 30px;
    }

    .contact-form {
        margin-top: 25px;
    }
}

@media(max-width:767px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    .cp60 {
        padding: 40px 10px;
    }

    .navbar-brand img {
        width: 55px;
    }

    .hero_content h2 {
        font-size: 18px;
    }

    .service_box {
        padding: 15px;
        min-height: auto;
    }

    .prod_box img {
        height: auto;
    }

    .prod_box {
        margin-bottom: 30px;
    }

    .ftimg img {
        margin-bottom: 20px;
    }

    .brand_text {
        padding: 30px 15px;
    }

    .cont_box a {
        font-size: 12px;
    }

    .social_info ul {
        justify-content: center;
    }

    .contact-form {
        margin: 20px 0px;
    }

    .footer p {
        font-size: 14px;
        font-weight: 400;
        color: var(--cs-text);
    }
}